<!-- <nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <br>
  <a routerLink="/about" routerLinkActive="active">About</a>
</nav>

<app-wrapper>
  <app-injected-child></app-injected-child>
</app-wrapper> -->

<!-- <app-on-push-demo [user]="usuario"></app-on-push-demo> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-child [nome]="'Matheus'" (mensagem)="receberMensagem($event)"></app-child> -->

<!-- <app-formulario (formularioSubmetido)="enviarParaBackend($event)"></app-formulario>-->

<!-- <app-contador></app-contador>

<button (click)="incrementarDoPai()">Incrementar do Pai</button> -->
<!-- 
<app-painel>
  <h3 #meuTitulo>Esse é o título enviado pelo pai!</h3>
</app-painel> -->

<!-- <h1>Componentes do ciclo de vida</h1>
<app-lifecycle></app-lifecycle> -->

<!-- <h1>Componente Dinâmico</h1>
<div #componenteDinamicoContainer></div>
<button (click)="criarComponenteDinamico()">Criar Componente Dinâmico</button> -->

